OPENAI_API_KEY=""

moralisApiKey="2cEzQ3XynlRGWLR"
moralisApiSecret="SXA9P9laLO8HKr8"
moralisSubdomain="qzzj9cxkd0zd.usemoralis.com"

cCA="0x6f72eaEeaBd8c5d5ef1E1b7fc9355969Dd834E52"                        # Address of the CultureCoin administrator account. This is test net ONLY!
#cCAPrivateKey=""        # Private key of the CultureCoin administrator account.
cCAPrivateKey="encrypted"        # Private key of the CultureCoin administrator account.

#### "the key : the content from" ...moralis/decrypt-password.js
#### vOVH6sdmpNWjRRIqCc7rdxs01lwHzfr3 <-- this is a known key. save for example. 
cCAPrivateKeyEncrypted=""
#unsafePassword="vOVH6sdmpNWjRRIqCc7rdxs01lwHzfr3"			## If set to production the cCAPrivateKey will not be looked at but the encrypted version.
unsafePassword="production"			## If set to production the cCAPrivateKey will not be looked at but the encrypted version.

testAccountAddress="0xB6898d7363BF9dEe9478ecb553bDBAf1AC375394"
testPrivateKey="0xf115cd1fcc3b6264cdb26327c03ae04a7b843b3f864665fd5927b7baa9165d1b"

securePort="9999"
secureHost="127.0.0.1"

proxyAdmin="0xE9614A0Cb7941f7C1fe4d1046fd397A2db7de062"                 # Address of the contract that is the admin of the proxy contrtact. Proxy Admin -> Proxy Contact <--> Implementation

#cultureCoinImplAddress="0x969CB051D00977C7839a140B931751c6ab39B734"     # Address of the CultureCoin contract. Also from brownie.
cultureCoinImplAddress="0xb43B7F45D5CaFB5dE4c35D8D3dC1FCA44E702FeB"     # Address of the CultureCoin contract. Also from brownie.
cultureCoinAddress="0x0235F1C524AA396F72E0bE939263Ef95244fC029"         # Address of the CultureCoin proxy contract address and looks like real culture coin.

printingPressAddress="0x56920171807e0a8ee888495e7c9F8a686CB835D4"       # WARNING: If you change me, you must change bookContracts below.
bookContracts="BookContractsFFour"                                      # These are the moralis table names.

marketPlaceAddress="0x17a3D635284c100ea39f2Eb294AeB40CC87f3c23"         # Contrtact address of marketplace from brownie deployMarketPlace.py
placedOfferings="PlacedOfferingsTen"                                    # These are the moralis table names.
closedOfferings="ClosedOfferingsTwo"                                    # These are the moralis table names.

daedalusClassBoosterAddress="0x47332328173546c25dfe30f1f4f50d49cc5c369a"  # Address of the Daedalus Class Booster Token contract.

theGoldenKeysAddress="0x03CCdAA389e6B0673C0f5A8498412dcC925c2870"       # Address of the TheGoldenKeys contract.
nonceWindow="10"                                                        # Number of cCA txs to allow the users before using their login msg as key.

iRegister="IRegisterFour"                                               # These are the moralis table names.

benScratchesAddress="0xdec1ee2c0d3b8b183e87d55513951211528ff1db"
benBaseCost="1375000000000000"
benDeployAddress="0xa9b7dfdc7b59f446701e880afd9b1c82e3b1f152"
benPettings="PetBENTwo"

gamblersUnionAddress="0xABeCE455E7CF91661A27ec8820BB8dA4A833Ca42"
guContests="NewContestsOne"

### All these are for the game.
baseSpellsImplAddress="0x63Dd96FcE1e36586099eA652A9fC697aEcC80412"      # The Base Spells implementation from: scripts/deployBaseSpells.py
baseSpellsAddress="0x0Ce5A45DdBC841a062600Db324c55533e298c7DC"          # The Base Spells contract address. The proxy for the base spells.

baseLootImplAddress="0x37875bEe02aeE9e45dF794111513b147f332BA07"        # The Base Loot implementation from: scripts/deployBaseLoot.py
baseLootAddress="0xaE9540C3AbADa312BE567aAcD01c9CAD3a8EFd2f"            # The Base Loot contract address. The proxy for the base loot.

bookmarkAddress="0xf42ab65e6a881453fc3afba1b1715e5cffd3c143"
myItemsAddress="0x301d1a9493049753BcBC7a2050238D7554c56c67"
heroAddress="0xdc92a1f13f28258c972061ba40a4fbd5408c16a3"

timeCubeImplAddress="0x97d36DB5353466D5DbE61B5Cf80D177a1cE346D3"
timeCubeAddress="0x85617d3e9c7b56df186cf99569cdeaae66febac4"            # Call into this contract to be be cool and leet.

### GAS PRICES ###
premiumGas="4700000"
regularGas="2000000"

### The Bridge ###
cc_initial_balance="113454015400000000000000000"                # Initial balance of the CultureCoin contract.
ccTotalSupplyStart="420200054000000000000000000"                # Total supply of CultureCoin.

serverUrl="https://qzzj9cxkd0zd.usemoralis.com:2053/server"             # Moralis server URL.
appId="gmDA8QccmPHQvtnZcEiGemyCcZi7Sgr1meq9GgPz"                        # Moralis app ID.
speedyNode="https://speedy-nodes-nyc.moralis.io/6ab74770f55b01ab64e8bb9e/avalanche/testnet" # Speedy node URL from Moralis.

baseNetwork="avalanche testnet"                                         # Moralis network name.
chainID="0xa869"                                                        # User wallet codes
chainName='Ava Fuji Testnet'                                            # User wallet name
nativeCurrencyName='AVAX'                                               # User wallet native currency name
nativeCurrencySymbol='AVAX'                                             # User wallet native currency symbol
rpcUrls='https://api.avax-test.network/ext/bc/C/rpc'                    # User wallet RPC URL
blockExplorerUrls='https://testnet.snowtrace.io/'                       # User wallet block explorer URL

