#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################
#### REMEMBER TO: bash deployCloud.sh #############################     JOHN REMEMBER TO: bash deployCloud.sh #############################

cCAPrivateKey=""	# Private key of the CultureCoin administrator account.

cCA="0x213E6E4167C0262d8115A8AF2716C6C88a6905FD"			# Address of the CultureCoin administrator account.

cultureCoinAddress="0x739008c5b2EAB4D6DBd6b503bcae00cE36cdF55b"		# Address of the CultureCoin contract. Also form brownie.
marketplaceAddress="0x3af2420F12F056999bAcde9d3f83aaA80976C418"		# Contrtact address of marketplace from brownie deployMarketPlace.py

daedalusClassBoosterAddress="0x47332328173546c25dfe30f1f4f50d49cc5c369a"  # Address of the DaedalusClassBooster contract.
theGoldenKeysAddress="0x03CCdAA389e6B0673C0f5A8498412dcC925c2870" 	# Address of the TheGoldenKeys contract.
nonceWindow="10"							# Number of cCA txs to allow the users before using their login msg as key.

placedOfferings="PlacedOfferingsSeven"					# These are the moralis table names.
bookContracts="BookContractsTwelve"					# These are the moralis table names.		
iRegister="IRegisterFour"						# These are the moralis table names.

serverUrl="https://qzzj9cxkd0zd.usemoralis.com:2053/server"		# Moralis server URL.
appId="gmDA8QccmPHQvtnZcEiGemyCcZi7Sgr1meq9GgPz"			# Moralis app ID.
speedyNode="https://speedy-nodes-nyc.moralis.io/6ab74770f55b01ab64e8bb9e/avalanche/testnet" # Speedy node URL from Moralis.

baseNetwork="avalanche testnet"						# Moralis network name.	
chainID="0xa869"							# User wallet codes
chainName='Ava Fuji Testnet'						# User wallet name
nativeCurrencyName='AVAX'						# User wallet native currency name
nativeCurrencySymbol='AVAX'						# User wallet native currency symbol
rpcUrls='https://api.avax-test.network/ext/bc/C/rpc'			# User wallet RPC URL
blockExplorerUrls='https://testnet.snowtrace.io/'			# User wallet block explorer URL
