@charset "utf-8";

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';

.app {
  position: relative;
  min-height: 100vh;
}

img {
  width: 100%;
}

.nomad-container {
  width: 60%;
  margin: 0 auto;
}

#shop-now {
  font-weight: 600; 
  &:hover {
    background-color: #606060;
  }
}

// Featured products section
.featured-collection {
  margin-top: 6rem;

  .featured-section-title {
    font-size: 2rem;
  }

  .featured-image {
    cursor: pointer;
  }

  @media(min-width: 1024px) {
    .products {
      display: flex;
      justify-content: space-between;
      padding: 5px;

      .featured-product {
        margin: 10px;
      }
    }
  }
}

// single product page 
.name-price {
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1rem;
  }
}

//black button styles
.nomad-btn {
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  margin-top: 0;
  margin-bottom: 10px;
  min-height: 44px;
}

//input styles
.nomad-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
}

form {
  padding: 2rem;
  text-align: center;
  input[type=text],
  input[type=email],
  input[type=password]{
    width: 60%;
  }

  .submit-btn {
    display: flex;
    justify-content: center;
  }

  .submit {
    width: 200px;
  }
}

.form-error {
  border: 1px solid red;
}

::placeholder {
  color: #606060;
  font-size: 16px;
}

#btn-white-outline {
  border: 1px solid grey;
  margin-bottom: 1rem;
}
#buy-it-now-btn {
  &:hover {
    background-color: #606060;
  }
}

@media(min-width: 1024px) {
  form {
    width: 60%;
    margin: 0 auto;

    input[type=text],
    input[type=email],
    input[type=password]{
      width: 65%;
    } 
  }
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 1.5rem;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 16px;
  font-family: system-ui;
  &.animateButton {
      // margin-right: 20px;
      font-weight: 600;
      color: $text;
      text-transform: uppercase;
      padding: 12px 18px;
      background: "light-pink";
      border: 1px solid pink;
      border-radius: 0.75em;
      transform-style: preserve-3d;
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: pink;
          border-radius: inherit;
          box-shadow: 0 0 0 1px pink, 0 2px 0 0 pink;
          transform: translate3d(0, 3px, -4px);
          transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      }
      &:hover {
          background: pink;
          transform: translate(0, 2px);
          &::before {
              box-shadow: 0 0 0 1px pink, 0 2px 0 0 pink;
              transform: translate3d(0, 2px, -4px);
          }
      }
      &:active {
          background: pink;
          transform: translate(0em, 0.75em);
          &::before {
              box-shadow: 0 0 0 2px pink, 0 0 pink;
              transform: translate3d(0, 0, -1em);
          }
      }
  }
}